.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    min-height: 90vh;
}
.margin{
    margin-bottom: 100px;
}
.heading{
    display: flex;
    justify-content: center;
    align-items: center;
         background: linear-gradient(90deg, rgba(0,162,164,1) 0%, rgba(215,0,152,1) 77%);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hola{
    display: flex;
    justify-content: center;
    align-items: center;
}
.text{
    display: flex;
    justify-content: center;
    align-items: center;

}

.holacelu{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}