.encabezado{
}
.h1{
    font-size: 2.5em;
     background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(215,0,152,1) 24%);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.h3{
    font-size: 1.875em;
     background:linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(215,0,152,1) 24%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}